body{
	background-image: url(pic1.jpg);
	height : 100vh;
	background-size: cover;
	background-position: center;
}

input {
	outline: none;
	border: none;
}

.title1 {
	padding-left: 30%;
	font-size: 30px;
	color: white;
	line-height: 1.2;
	text-align: center;
	display: block;
}

.profile-account {
	text-align: center;
}

.profile-image {
	width : 100px;
	border-radius : 50%;
}

.profile-info {
	margin: 0px;
	padding-top : 20px;
	padding-bottom : 20px;
}

.g-signin2{
	width: 100px;
	padding: 10%;
	margin: auto;
}

.output{
	width: 400px;
	padding: 10% 0 0;
	margin: auto;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;  
  min-height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: auto;
}

.wrap-login {
  width: 320px;
  background: transparent;
  border-radius: 0px;
  padding-top : 30px;
  padding-bottom : 30px;
}